version: '3.8'
services:
  mosquitto:
    image: eclipse-mosquitto:2.0
    restart: unless-stopped
    ports:
      - "1883:1883"

  influxdb:
    image: influxdb:1.8
    restart: unless-stopped
    ports:
      - "8086:8086"
    environment:
      - INFLUXDB_DB=aquaponics

  backend:
    build: ./backend
    ports:
      - "3000:3000"
    depends_on:
      - mosquitto
      - influxdb
