@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    color-scheme: light;
  }
  html.dark {
    color-scheme: dark;
  }
  body {
    @apply font-sans;
  }
}


@layer components {
  svg {
    @apply will-change-auto;
  }
}
